GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbx_REEMPLAZAR/exec
GAS_EXECUTION_TOKEN=genere-un-token-largo-y-privado
SESSION_SECRET=genere-otro-secreto-largo-minimo-32-caracteres
APP_USERS_JSON=[{"username":"usuario.ejemplo","name":"Usuario Ejemplo","passwordHash":"scrypt$SALT_BASE64URL$HASH_BASE64URL"}]
